# Deliverable 2: Determine Bias of Vine Reviews

In [1]:
# Dependencies
import pandas as pd

In [2]:
# Import the vine_table.csv that you exported from PostgreSQL
path = "C:/Users/Nat/DataAnalyticsBootcamp/Module_16/Amazon_Vine_Analysis/vine_table.csv"
vine_df = pd.read_csv(path)
print(f"Number of Records = {len(vine_df)} ")
print(vine_df.dtypes)
vine_df.head(5)

Number of Records = 2302401
review_id             object
star_rating          float64
helpful_votes        float64
total_votes          float64
vine                  object
verified_purchase     object
dtype: object

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R35T75OLUGHL5C,4.0,0.0,0.0,N,Y
1,R2BV735O46BN33,5.0,0.0,0.0,N,Y
2,R2NBEUGPQQGXP1,4.0,0.0,0.0,N,Y
3,R17LLAOJ8ITK0S,3.0,1.0,1.0,N,Y
4,R39PEQBT5ISEF4,1.0,0.0,0.0,N,Y

In [3]:
# Filter for all entries with total_votes>=20
totalvotes_df = vine_df.loc[vine_df["total_votes"] >= 20]
print(f"Number of Records = {len(totalvotes_df)} ")
totalvotes_df.head(5)

Number of Records = 43574

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
65,R2FP3U4NHNFNL2,5.0,25.0,29.0,N,Y
159,R1UUK1977O38MU,5.0,31.0,31.0,N,Y
603,RXO216LWUDV6O,3.0,29.0,31.0,N,Y
655,R3NMJF7EBMM19V,3.0,26.0,27.0,N,Y
935,R2ZY0ZBDUO0XUY,3.0,20.0,21.0,N,Y

In [4]:
# Create a column with the helpful votes percentatge = helpful_votes/total_votes
totalvotes_df["helpful_votes_percent"] = round((totalvotes_df["helpful_votes"] / totalvotes_df["total_votes"])*100)

C:\Users\Nat\AppData\Local\Temp/ipykernel_23812/1867724243.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  totalvotes_df["helpful_votes_percent"] = round((totalvotes_df["helpful_votes"] / totalvotes_df["total_votes"])*100)

In [5]:
# Retrieve all the rows where the number of helpful_votes/total_votes >= 50%
helpfulvotes_df = totalvotes_df.loc[totalvotes_df["helpful_votes_percent"] >= 50]

print(f"Number of Records = {len(helpfulvotes_df)} ")
helpfulvotes_df.head(5)

Number of Records = 39976

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,helpful_votes_percent
65,R2FP3U4NHNFNL2,5.0,25.0,29.0,N,Y,86.0
159,R1UUK1977O38MU,5.0,31.0,31.0,N,Y,100.0
603,RXO216LWUDV6O,3.0,29.0,31.0,N,Y,94.0
655,R3NMJF7EBMM19V,3.0,26.0,27.0,N,Y,96.0
935,R2ZY0ZBDUO0XUY,3.0,20.0,21.0,N,Y,95.0

### Paid Vine Program Reviews

In [6]:
# Retrieve all the rows where reviews are in the paid Vine program (ie vine == 'Y')
vine_paid_df = helpfulvotes_df.loc[helpfulvotes_df["vine"] == 'Y']
vine_paid_df.head(5)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,helpful_votes_percent
30395,R3KPC0NBUDASX3,5.0,25.0,25.0,Y,N,100.0
206171,R119P2A95GGXX4,5.0,26.0,28.0,Y,N,93.0
222172,R1HKIRME8AJ89Z,5.0,79.0,82.0,Y,N,96.0
281437,R3FY3GMBGOBR22,5.0,12.0,20.0,Y,N,60.0
287862,R15KH3FBSVYGBU,5.0,32.0,37.0,Y,N,86.0

In [7]:
# Determine the total number of reviews, the number of 5-star reviews, and the percentage of 5-star reviews
num_records_p = len(vine_paid_df)
num_five_star_p = vine_paid_df[vine_paid_df["star_rating"] >= 5.0]["review_id"].count()
percent_five_star_p = round((num_five_star_p/num_records_p)*100, 2)

print(f"Paid Number of Reviews = {num_records_p} ")
print(f"Number of 5-star Reviews = {num_five_star_p}")
print(f"Number of 5-star Reviews = {percent_five_star_p}%")

Paid Number of Reviews = 107
Number of 5-star Reviews = 56
Number of 5-star Reviews = 52.34%

### Unpaid Vine Program Reviews

In [8]:
# Retrieve all the rows where  reviews are in the unpaid Vine program (ie vine == 'N')
vine_unpaid_df = helpfulvotes_df.loc[helpfulvotes_df["vine"] == 'N']
vine_unpaid_df.head(5)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,helpful_votes_percent
65,R2FP3U4NHNFNL2,5.0,25.0,29.0,N,Y,86.0
159,R1UUK1977O38MU,5.0,31.0,31.0,N,Y,100.0
603,RXO216LWUDV6O,3.0,29.0,31.0,N,Y,94.0
655,R3NMJF7EBMM19V,3.0,26.0,27.0,N,Y,96.0
935,R2ZY0ZBDUO0XUY,3.0,20.0,21.0,N,Y,95.0

In [9]:
# Determine the total number of reviews, the number of 5-star reviews, and the percentage of 5-star reviews
num_records_up = len(vine_unpaid_df)
num_five_star_up = vine_unpaid_df[vine_unpaid_df["star_rating"] >= 5.0]["review_id"].count()
percent_five_star_up = round((num_five_star_up/num_records_up)*100, 2)

print(f"Unpaid Number of Reviews = {num_records_up} ")
print(f"Number of 5-star Reviews = {num_five_star_up}")
print(f"Number of 5-star Reviews = {percent_five_star_up}%")

Unpaid Number of Reviews = 39869
Number of 5-star Reviews = 21005
Number of 5-star Reviews = 52.69%